<form action="/" method="POST">

  <div class="input-group">
    <input name="name" type="text" class="form-control" placeholder="Name">
  </div>

  <div class="input-group">
    <textarea name="text" type="text" class="form-control" placeholder="Comment"></textarea
  </div>

  <input type="submit" value="Submit">
</form>
